@model IEnumerable<TrashCollector.Models.PickUps>

@{
    ViewBag.Title = "Index";
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentCharges)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCharges)
            </td>
        </tr>
    }

</table>